:root {
    --primary-color: #0167F8;
    --secondary-color: #5ABBFD;
    --accent-color: #FFA7D1;
    --dark-color: #393939;
    --light-color: #FFFFFF;
    --grey-color: #39393970;
    --yellow-color: #FFE25C;
    --background-color: #F4F6FA;
}
body {
    font-family: 'DM Sans', sans-serif;
    background: var(--light-color);
}
/* NAVBAR */
.btn-blue{
    background-color: var(--primary-color);
    border-radius: 16px;
    padding: 0px 15px;
    transition: all .5s ease;
}

.btn-blue:hover{
    background-color: var(--light-color) !important;
    .btn-text-white{
        color: var(--primary-color) !important;
    }
}

.btn-pink{
    background-color: var(--accent-color);
    border-radius: 16px !important;
    padding: 1px 15px;
    transition: all .5s ease;
}

.btn-pink:hover{
    background-color: var(--accent-color);
    .btn-text-white{
        color: var(--dark-color) !important;
    }
}

.btn-blue-outline {
    border-radius: 16px;
    padding: 1px 15px;
    border: var(--bs-border-width) var(--bs-border-style) var(--primary-color) !important;
    transition: all .5s ease;
}

.btn-blue-outline:hover{
    background-color: var(--primary-color);
    .btn-text-blue{
        color: var(--light-color);
    }
}

.btn-text-white{
    color: var(--light-color) ;
    font-weight: 700;
    font-size: 16px;
    transition: all .5s ease;
}

.btn-text-blue{
    color: var(--primary-color) ;
    font-weight: 700;
    font-size: 16px;
    transition: all .5s ease;
}

.bingah{
    font-family: 'Bingah';
}

.search-bar{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--grey-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--light-color);
    background-clip: padding-box;
    border: 2px solid var(--accent-color);
    border-radius: 16px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-right: -20px;

}

.menu-icon{
    font-size: 27px;
}

/* NAVBAR END*/


/* HERO */
#hero{
    background-color: var(--background-color);
    height: 100vh;
    width: 100%;
}

.hero-tagline{
    margin-top: 12rem;
}
.hero-tagline h1 {
    color: var(--dark-color);
    font-size: 48px;
    font-family: 'Bingah';
    font-weight: 700;
    line-height: 72px;
    text-align: center;
}

.hero-tagline p {
    text-align: center;
    font-family: 'DM Sans', sans-serif; 
    color: var(--dark-color);
    opacity: 70%;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 50px;
}
.button-lg-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color:#0168f820;
    border-radius: 100%;
}
.button-lg-primary:hover{
    background-color:var(--accent-color);
    border-color: transparent;

}
.button-lg-primary i{
    font-size: 30px;
    color: var(--primary-color);
    
}

.img-hero {
    z-index: 0;
    height: auto;
    width: 100%;
}

*{
    z-index: 2;
}
.img-book-hero{
    width: 12rem;
    left: 120px;
    bottom: 60%;
    display: block;
}
.img-book-hero2{
    width: 8rem;
    right: 180px;
    bottom: 60%;
    display: block;
}

/* HERO END */

/* SLIDER */

.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.carousel-inner{
    background: #0000;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 90%;
}

.carousel-item {
    display: flex;
    align-items: center;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-text {
    max-width: 355px;
    position: absolute;
    left: 10%;
}

.carousel-text h2 {
    font-family: 'Bingah';
    font-size: 40px;
    margin: 0 0 20px;
    color: var(--light-color);
}

.carousel-text p {
    font-size: 20px;
    margin: 0 0 50px;
    color: var(--light-color);
}

.start-reading {
    background-color: var(--yellow-color);
    color: var(--dark-color);
    border: none;
    border-radius: 16px;
    padding: 15px 33px;
    cursor: pointer;
    font-size: 20px;
}

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-button.left {
    left: 20px;
    border-radius: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.39);
    color: var(--light-color);

}

.carousel-button.right {
    right: 20px;
    border-radius: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.39);
    color: var(--light-color);
}


.footer {
    background-color: var(--accent-color);
    display: flex;

    justify-content: space-between;
}

.footer-item {
    font-size: 25px;
    cursor: pointer;
}
.custom-shape-divider-top-1717118743 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    .shape-fill{
        fill: var(--background-color);
    }
}

/* MARQUEE */
.text-wrapper{
    display: flex;
    justify-content: flex-start;
    background: var(--accent-color);
    overflow: hidden; 
    cursor: pointer;
}

.marquee{
    animation: marquee 5000ms linear infinite;
    color: var(--dark-color);
    font-family: 'Bingah';
    font-size: 24px; 
    white-space: nowrap;
    padding: 1.5rem 5rem;
    text-decoration: none;
}

.text-wrapper:hover {
    .marquee{
        animation-play-state: paused;
    }
    
  }

@keyframes marquee{
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
/* SLIDER END */


/* KATEGORI LANDING */
#kategori-landing{
    background-color: var(--primary-color);
    height: auto;
    width: 100%;
    margin: 0;
    padding-bottom: 12rem;
}
#kategori-landing .container{
    padding-top: 6rem;
}

.kategori-content h1 {
    color: var(--light-color);
    font-size: 48px;
    font-family: 'Bingah';
    font-weight: 700;
    line-height: 72px;
    text-align: center;
}

.card-kategori {
    align-items: center;
    box-sizing: border-box;
    transition: 400ms;
    width: 100%;
    height: 320px;
    max-width: 280px;
    border-radius: 16px;
    background: var(--light-color);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card-kategori * {
    box-sizing: border-box;
    transition: 400ms;
  }

  .card-kategori__imgBox img {
    display: block;
    width: 60%;
    height: auto;
    margin: 0 auto;
  }
  .card-kategori__title {
    text-align: center;
    margin-top: 15px;
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 400;
    font-family: "Bingah";
  }

  .card-kategori:hover .card-kategori__imgBox {
    transform: translateY(-50px);
  }
  .card-kategori:hover .card-kategori__imgBox img {
    transform: translate(-8px, -6px) rotate(-10deg);
  }
  .card-kategori:hover .card-kategori__content {
    opacity: 1;
  }


.img-kategori {
    width: 10rem;
    left: 120px;
    bottom: 60%;
    display: block;
}
.img-kategori2 {
    margin: 0;
    right: 0;
    bottom: 0;
    width: 35rem;
    display: block;
}

.img-kategori,
.img-kategori2 {
    z-index: 0;
}

.btn-seeall{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background-color:#0168f820;
    color: var(--primary-color);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    font-size: 45px;
}
/* KATEGORI LANDING END */
